/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF ARTICLE-PREVIEW~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
  margin-top: 1em;
}
.admin-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 5%;
}
.admin__manage-title {
  margin-bottom: 2em;
}
li {
  list-style: none;
}
.update__button {
  margin-right: 1em;
}

