html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF BODY~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  background-color: #000;
  font-family: "Roboto Mono", monospace;
  color: white;
  margin: auto;
}

body.light {
  background-color: #fff;
  color: #222;
}

body.dark {
  background-color: #000;
  color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF BODY~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home {
  height: calc(100% - 76px - 48px);
}

.home__profil {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__profile-logo {
  margin: 1em;
  max-width: 100px;
  padding: 0;
}

.home__profile-identity {
  margin-bottom: 0;
}

.home__profile-description {
  font-weight: 500;
  line-height: 1.5em;
  width: 50%;
  hyphens: auto;
  letter-spacing: 0.4px;
  border-right: 0.4em solid;
  padding-right: 1em;
}

.home__profile-cv {
  font-weight: 500;
}

.home__button-contact {
  padding: 0.8em;
  border: 1px solid white;
  background-color: #000;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 14px;
  text-transform: uppercase;
}

.home__profile-email {
  font-style: italic;
  letter-spacing: 0.4px;
}

p.home__profile-description > svg:nth-child(1) {
  margin: 0;
}

p.home__profile-description > svg:nth-child(2) {
  margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF HOME~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF LOGIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.login {
  height: calc(100% - 76px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__button {
  padding: 0.8em;
  border: 1px solid white;
  background-color: #000;
  color: white;
  margin-top: 2em;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF LOGIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF REGISTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.register {
  height: calc(100% - 76px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__field-nom {
  margin-right: 1em;
}

.register__field-surnom {
  margin-right: 1em;
}

.register__field-password {
  margin-bottom: 1em;
}

.register__nom-prenom {
  display: flex;
  margin-top: 1em;
}

.register__surnom-email {
  display: flex;
}

.register__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.register__button {
  padding: 0.8em;
  border: 1px solid white;
  background-color: #000;
  color: white;
  margin-top: 2em;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF REGISTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF NAV~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav__title > a {
  display: flex;
  align-items: center;
}

.nav__title > a > .iconify {
  margin-right: 0.5em;
}

nav > .nav__header {
  display: inline;
}

nav > .nav__header > .nav__title {
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

nav > .nav__header > .nav__title:hover {
  color: #aaa;
}

nav > .nav__btn {
  display: none;
}

nav > .nav__links {
  float: right;
  font-size: 16px;
  display: flex;
  align-items: center;
}

nav > .nav__links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

nav > .nav__links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav > #nav__check {
  display: none;
}

@media (max-width: 1200px) {
  nav > .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  nav > .nav__btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  nav > .nav__btn > label:hover, nav  #nav__check:checked ~ .nav__btn > label {
    cursor: pointer;
  }

  #nav__check:checked ~ .nav__links > span {
    display: none;
  }

  nav > .nav__btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid;
  }

  nav > .nav__links {
    position: absolute;
    display: block;
    width: auto;
    background-color: #aaa;
    height: auto;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0;
  }

  nav > .nav__links > a {
    display: block;
    width: 100%;
  }

  nav > #nav__check:not(:checked) ~ .nav__links {
    height: 0;
  }

  nav > #nav__check:checked ~ .nav__links {
    overflow: hidden;
  }
}

.header__nav {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-weight: 600;
  font-size: 16px;
  margin: auto;
}

.header__nav-item__divider {
  padding: 1em;
}

.header__nav-item {
  text-decoration: none;
  color: inherit;
}

.header__nav-item:hover {
  color: #aaa;
  font-weight: 800;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF NAV~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF PAGINATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pagination {
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 3em;
  width: 1400px;
}

.disabled-link {
  pointer-events: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.nav__pagination {
  list-style: none;
  margin: 0;
  display: flex;
}

.nav__pagination li {
  margin: 0 1px;
}

.nav__pagination a {
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 0.2em;
  text-decoration: none;
}

.nav__pagination a:hover:not(.active) {
  background-color: rgb(163, 163, 163);
}

.nav__pagination a[aria-current="page"] {
  color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF PAGINATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF FOOTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  border-top: 2px solid;
  font-size: 14px;
}

footer, a {
  text-decoration: none;
  color: inherit;
}

.footer__social-icon__link {
  margin-left: 0.5em;
}

.footer__social-icon__link:hover {
  color: #aaa;
  font-weight: 800;
}

.footer__text {
  margin-right: 0.5em;
}

@media (max-width: 1000px) {
  .footer__text-hidden-on-smartphone {
    display: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF FOOTER~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF FORM~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form__infos {
  margin-bottom: 2em;
}

.form__button {
  padding: 0.8em;
  border: 1px solid white;
  background-color: #000;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  margin: auto;
  margin-top: 1em;
}

.form__button-error {
  padding: 0.8em;
  border: 1px solid red;
  background-color: #000;
  color: red;
  margin-top: 2em;
  font-size: 14px;
  text-transform: uppercase;
}

.form__message {
  display: flex;
  flex-direction: column;
}

.form_error > p {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  color: rgb(212, 0, 0);
}

.form_error-password {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.form_error-password > p {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  color: rgb(212, 0, 0);
}

.form_error {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  color: rgb(212, 0, 0);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF FORM~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF ARTICLE~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

article {
  padding: 1em;
}

.article__head {
  word-break: break-word;
  hyphens: auto;
  letter-spacing: -0.4px;
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 60px 0 30px;
}

.article__head-separator {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: content-box;
  display: block;
  height: 2px;
  border: 0;
  margin: 0 auto;
  padding: 0;
  background: var(--color);
  width: 10%;
  min-width: 50px;
}

.article__head-separator::after {
  content: "OOOOO";
  display: inline-block;
  position: relative;
  top: -8px;
  padding: 0 10px;
  font-size: 20px;
}

.article__head-title {
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size: 3.5rem;
  text-indent: -3px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0 0 10px;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

.article__head-date {
  font-weight: 600;
  font-size: 0.8em;
}

.article__head-author {
  letter-spacing: -0.04em;
  padding: 0;
  font-size: 14px;
  margin-top: -0.8em;
}

.article__content {
  font-size: 14px;
  word-break: break-word;
  hyphens: auto;
  text-align: justify;
  letter-spacing: -0.4px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.article__content-chapo {
  font-size: 16px;
  font-weight: 600;
  background-color: #8d8d8d;
  padding: 0.5em;
}

.article__content > p {
  hyphens: auto;
  text-align: justify;
  letter-spacing: -0.4px;
  margin-top: 1.6em;
}

.article__blockquote {
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -2.2em;
  padding: 0 0 0 1.6em;
  border-left: 0.4em solid;
}

.article__content-axurit-separator > .iconify {
  margin-top: 0;
}

.article__content-axurit-separator {
  margin-left: 0.2em;
}

.article__comment-form {
  font-size: 14px;
  word-break: break-word;
  hyphens: auto;
  letter-spacing: -0.4px;
  display: block;
  max-width: 600px;
  margin: 3em auto;
}

.form__comment {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.article__comments {
  word-break: break-word;
  hyphens: auto;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  font-size: 12px;
}

.article__user-comment {
  border-bottom: 1px solid;
}

.artcile__comment-author {
  margin-top: 2em;
  font-weight: 600;
  font-size: 12px;
}

.article__comment-content {
  hyphens: auto;
  letter-spacing: -0.4px;
  border-right: 0.4em solid;
}

.article__foot-separator {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: content-box;
  display: block;
  height: 2px;
  border: 0;
  margin: 2em auto;
  padding: 0;
  background: var(--color);
  width: 10%;
  min-width: 50px;
}

.article__foot-separator::after {
  content: "OOOOO";
  display: inline-block;
  position: relative;
  top: -8px;
  padding: 0 10px;
  font-size: 20px;
}

.article__footer {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF ARTICLE~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~START OF ARTICLE-PREVIEW~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.article__preview-index {
  height: calc(100% - 76px - 48px);
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article__preview {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  height: 35%;
  width: 380px;
}

.article__preview-title {
  font-size: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.article__preview-date {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.article__preview-author {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.article__illustration {
  max-width: 100%;
  max-height: 100%;
}

.article__illustration,
img {
  margin: auto;
  width: 600px;
}

.article__preview-chapo {
  font-size: 12px;
  letter-spacing: -0.02em;
}

.article__preview-button {
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  color: inherit;
  border-left: none;
  border-right: none;
  font-size: 12px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  letter-spacing: 0.2em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~END OF ARTICLE-PREVIEW~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 101, 104, 0.986);
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.modal-container.show {
  display: flex;
}

@media only screen and (max-width: 767px) {
  /* smartphone */
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /* smartphone en mode portait */
}
