{% extends "admin/base.html.twig" %}

{% block title %}Blog - Modification d'un réseau social{% endblock %}

{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Update social</h3>
    {% include "admin/pages/socials/form.html.twig" %}
	</div>
{% endblock %}