<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/admin"><svg class="mb-1 mr-1" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z"/></svg>Pannel d'administration</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Accueil du site</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/blog">Liste des articles</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Déconnexion</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	{% if flash('success') %}
		<div class="alert alert-success">
			{{ flash('success') }}
		</div>
	{% endif %}
		{% if flash('error') %}
		<div class="alert alert-danger">
			{{ flash('error') }}
		</div>
	{% endif %}
</div>
