<footer>
	<div class="footer__social-icon">
	{% for social in socials %}
		<a class="footer__social-icon__link" href="{{ social.url }}" target="_blank"><span class="iconify" href="" data-icon="{{ social.iconName }}" data-width="20"></span></a>
	{% endfor %}
	</div>
	<div class="footer__text">
		<p><span class="footer__text-hidden-on-smartphone">tous les contenus sont soumis au droit d'auteur axurit </span>© 2022 • tous droits réservés.</p>
	</div>
</footer>
