<header class="header__nav">
	<span class="header__brand" href="/">
		<span class="iconify" data-icon="healthicons:animal-donkey" data-width="30"></span>
		<p>Axurit</p>
	</span>
	<nav>
		<a class="header__nav-item" href="/">Home</a>
		<span class="header__nav-item__divider">|</span>
		<a class="header__nav-item" href="/blog">Posts</a>
		<span class="header__nav-item__divider">|</span>
		<a class="header__nav-item" href="/login">Login</a>
		<span class="header__nav-item__divider">|</span>
		<a class="header__nav-item" href="/register">Register</a>
		<span class="header__nav-item__divider">|</span>
		<a class="switchLight header__nav-item" href="#">Light</a>
		<span class="header__nav-item__divider">|</span>
		<a class="switchDark header__nav-item" href="#">Dark</a>
		<span class="header__nav-item__divider">|</span>
		<a class="header__nav-item" href="/contact">Contact</a>
	</nav>
</header>
