<nav class="pagination" aria-label="pagination">
    <ul class="nav__pagination">
        <li><a href=""><span aria-hidden="true">«</span><span class="visuallyhidden">previous set of pages</span></a></li>
        {% set page = 1 %}
        {% if  page <= pages %}
        {% set page = page + 1 %}
            <li><a href="{{ uri ~ "?page=" ~ page }}"><span class="visuallyhidden">page </span>{{ page }}</a></li>
        {% endif %}
        <li><a href=""><span class="visuallyhidden">next set of pages</span><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>