{% extends "client/base.html.twig" %}

{% block title %}
	Liste des articles - {{parent()}}
{% endblock %}
{% block body %}
	<h1>POSTS LIST</h1>
	{% include('/client/parts/_pagination.html.twig') %}
{% endblock %}

