{% extends "client/base.html.twig" %}

{% block title %}
	Login -
	{{parent()}}
{% endblock %}
{% block body %}
	<section class="login">
		<form method="post" action="">
			<fieldset>
				<!-- Titre du fieldset -->
				<legend>Entrez vos identifiants:
				</legend>
				<div class="form__infos">
					<p>
						<label for="email">E-mail</label>
						<input type="email" name="email" id="email"/>
					<p>
						<label for="password">Mot de passe</label>
						<input type="password" name="password" id="password"/>
						{% if error is defined %}
							<p class="form_error">{{ error }}</p>
						{% endif %}
					</p>
				</div>
			<button class="login__button">Se connecter</button>
			</fieldset>
		</form>
	</section>
{% endblock %}
