{% extends "admin/base.html.twig" %}

{% block title %}Blog - Ajout d'un article
{% endblock %}
{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Ajout d'un article</h3>
		{% include "admin/pages/posts/_form.html.twig" %}
	</div>
{% endblock %}
