{% extends "admin/base.html.twig" %}

{% block title %}Blog - Modification d'un article
{% endblock %}
{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Update post</h3>
		{% include "admin/pages/posts/form.html.twig" %}
	</div>
{% endblock %}
